[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/adamrights/prezto.git
[submodule ".spf13-vim-3"]
	path = .spf13-vim-3
	url = https://github.com/adamrights/spf13-vim.git
[submodule ".xmonad"]
	path = .xmonad
	url = https://github.com/vicfryzel/xmonad-config.git
[submodule "scripts/z"]
	path = scripts/z
	url = https://github.com/rupa/z/
