#@adamrights Untracked $HOME files

# OSX       taken from: https://github.com/github/gitignore/blob/master/Global/OSX.gitignore
# ----------------------------------------------------------------------------------------------
.DS_Store
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows   taken from: https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
# ----------------------------------------------------------------------------------------------
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Tags      taken from: https://github.com/github/gitignore/blob/master/Global/Tags.gitignore
# ----------------------------------------------------------------------------------------------
# Ignore tags created by etags and ctags
TAGS
tags

# Vim       taken from: https://github.com/github/gitignore/blob/master/Global/vim.gitignore
# ----------------------------------------------------------------------------------------------
.*.sw[a-z]
*.un~
Session.vim

# SASS
# ----------------------------------------------------------------------------------------------
.sass-cache


### See how .zhistory syncs on dropbox and make it smarter/cleaner before adding
.zhistory
.config
.cach
#.mozilla dotfiles 
.mozilla
#vim swap
.vim/swaps/*
.vimswap
.vimbackup
.viminfo
.vim_colorv_cache_favo
.vimundo

### for lenovo build some dotfiles will eventually be tracked; they exist as submodules 
### Be smarter

#*
.DS_Store
node_modules
components
npm-debug.log
dist


# these are just symlinks to my prezto fork runcoms
#.zlogin
#.zlogout
#.zpreztorc
#.zprofile
#.zshenv
#.zshrc

#.*
Public/*
# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
.ICEauthority
.NERDTreeBookmarks
.VirtualBox/
.Xauthority
.adobe/
.android
.arduino
.arista
.bash_history
.bash_history~
.bash_logout
.bluefish/
.bower/
.bowerrc
.bzr.log
.cabal/

Videos/*
VirtualBox VMs/*
sketchbook/*
tmp/*
