! Xresources and Xdefaults are user-level configuration dotfiles, typically located at ~/.Xresources and ~/.Xdefaults. 
! They can be used to set X resources, which are configuration parameters for X client applications.
! For more usage examples see Arch Linux Wiki: https://wiki.archlinux.org/index.php/X_resources

! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
!URxvt*background: S_base03
!XTerm*foreground: rgb:b2/b2/b2
!XTerm*background: rgb:08/08/08
!XTerm*color0: rgb:28/28/28

! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3


! Light

! #define S_base03        #fdf6e3
! #define S_base02        #eee8d5
! #define S_base01        #93a1a1
! #define S_base00        #839496
! #define S_base0         #657b83
! #define S_base1         #586e75
! #define S_base2         #073642
! #define S_base3         #002b36


! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:            S_base03

*background:              S_base03
*foreground:              S_base0
*fading:                  40
*fadeColor:               S_base03
*cursorColor:             S_base1
*pointerColorBackground:  S_base01
*pointerColorForeground:  S_base1

*color0:                  S_base02
*color1:                  S_red
*color2:                  S_green
*color3:                  S_yellow
*color4:                  S_blue
*color5:                  S_magenta
*color6:                  S_cyan
*color7:                  S_base2
*color8:                  S_base03
*color9:                  S_orange
*color10:                 S_base01
*color11:                 S_base00
*color12:                 S_base0
*color13:                 S_violet
*color14:                 S_base1
*color15:                 S_base3


XTerm*termName: xterm-256color
xterm*geometry: 82x20
xterm*faceName: xft::pixelsize=10:antialias=false
xterm*font: -*-envy-code-r-*-*-8-*-*-*-*-*-*-*
!xterm*font: -misc-tamsyn-medium-r-normal--14-87-100-100-c-60-*
xterm*dynamicColors: true
xterm*utf8: 2
xterm*eightBitInput: true
xterm*saveLines: 30000
xterm*scrollKey: true
xterm*scrollTtyOutput: false
xterm*scrollBar: false
xterm*rightScrollBar: false
xterm*jumpScroll: false
xterm*multiScroll: true
xterm*toolBar: false
xterm*bell: false
xterm*bellIsUrgent: false


URxvt.urlLauncher: firefox

!## teh URxvt stuff
URxvt.font : -*-fixed-*-*-*-13-*-*-*-*-*-*-*
URxvt.iconFile:    /usr/share/icons/Clarity/scalable/apps/terminal.svg
URxvt.perl-ext-common:  default,matcher
URxvt.url-launcher:      /usr/bin/firefox
URxvt.matcher.button:   1
URxvt.keysym.C-Delete:  perl:matcher:last
URxvt.keysym.M-Delete:  perl:matcher:list
URxvt.colorUL: #4682B4
urxvt.geometry:          54x15
URxvt.borderless:        true
urxvt*scrollBar:         false
URxvt.scrollBar_right : False
URxvt.scrollBar_floating : False
URxvt.scrollstyle : plain
!## teh transparency stuff
!URxvt.inheritPixmap: true
!URxvt.tintColor: white
!URxvt.shading: 40
URxvt.background: #262626
URxvt.foreground: #497BF7
!## teh dpi stuff
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
