:Zen html:5>#wrapper>((header>((#logo>img)+h1+nav>ul>li*3))+(#body>header>h2+p)+(footer>p))*1

<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div id="wrapper">
        <header>
            <div id="logo"><img src="" alt="" /></div>
            <h1></h1>
            <nav>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </nav>
        </header>
        <div id="body">
            <header>
                <h2></h2>
                <p></p>
            </header>
        </div>
        <footer>
            <p></p>
        </footer>
    </div>
</body>
</html>
